html {
  box-sizing: border-box;
  height: 100%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
a {
  display: inline-block;
  text-decoration: none;
  color: black;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  background-color: #f1efef;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  height: 100%;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__inner {
  background-color: #91dfa6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.header__link {
  font-size: 18px;
  font-weight: 500;
  padding-right: 20px;
}

.header__link a {
  transition: all 0.3s;
}

.header__link a:hover {
  color: #468f59;
  transform: scale(1.1);
}
.header__link li {
  display: inline;
}
.header__link li + li {
  margin-left: 40px;
}
.header__logo img {
  height: 80px;
  width: 80px;
}

.container__inner {
  max-width: 1100px;
}
.main__title {
  font-size: 36px;
  font-weight: 700;
  color: #468f59;
}
p span {
  color: #468f59;
}
.main__rules__title {
  font-size: 32px;
  font-weight: 500;
  color: rgb(93, 92, 92);
}
.main__rules-rule {
  line-height: 32px;
  padding-bottom: 10px;
}

.footer {
  margin-top: 50px;
  background-color: #91dfa6;
  padding-top: 50px;
  font-weight: 500;
}
.footer__links li {
  display: inline;
  font-size: 18px;
}

.footer__links a {
  transition: all 0.3s;
}

.footer__links a:hover {
  color: #468f59;
  transform: scale(1.1);
}
.footer__links li + li {
  display: inline;
  margin-left: 50px;
}
.footer__links {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.footer__info {
  font-weight: 500;
  text-align: center;
  padding-bottom: 50px;
}

.footer__links-title {
  text-align: center;
  margin-bottom: 20px;
}
